<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <title>大数据招聘数据分析系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!-- App css -->
    <link href="/static/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/static/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="/static/static/css/app.min.css" rel="stylesheet" type="text/css">

</head>

<body id="body" class="dark-sidebar">
<!-- leftbar-tab-menu -->
<div class="left-sidebar">
    <!-- LOGO -->
    <div class="brand">
        <a href="" class="logo">
                    <span>
                        <img src="/static/static/picture/logo-sm.png" alt="logo-small" class="logo-sm">
                    </span>
            <span>
{#                        <img src="/static/static/picture/logo.png" alt="logo-large" class="logo-lg logo-light">#}
{#                        <img src="/static/static/picture/logo-dark.png" alt="logo-large" class="logo-lg logo-dark">#}
                        <span style="color: #fff">招聘数据分析可视化系统</span>
                    </span>
        </a>
    </div>
    <div class="sidebar-user-pro media border-end">
        <div class="position-relative mx-auto">
            <img src="/static/static/picture/user-4.jpg" alt="user" class="rounded-circle thumb-md">
            <span class="online-icon position-absolute end-0"><i class="mdi mdi-record text-success"></i></span>
        </div>
        <div class="media-body ms-2 user-detail align-self-center">
            <h5 class="font-14 m-0 fw-bold">{{ userInfo.username }} </h5>
            <p class="opacity-50 mb-0">用户名</p>
        </div>
    </div>
    <div class="border-end">
        <ul class="nav nav-tabs menu-tab nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#Main" role="tab"
                   aria-selected="true"><span>主板</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#Extra" role="tab"
                   aria-selected="false"><span>更多</span></a>
            </li>
        </ul>
    </div>
    <!-- Tab panes -->

    <!--end logo-->
    <div class="menu-content h-100" data-simplebar="">
        <div class="menu-body navbar-vertical">
             <div class="collapse navbar-collapse tab-content" id="sidebarCollapse">
                <!-- Navigation -->
                <ul class="navbar-nav tab-pane active" id="Main" role="tabpanel">
                    <li class="menu-label mt-0 text-primary font-12 fw-semibold"><span>导航栏</span><br><span
                            class="font-10 text-secondary fw-normal">Navigation Bar</span></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarAnalytics" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarAnalytics">
                            <i class="ti ti-stack menu-icon"></i>
                            <span>数据可视化</span>
                        </a>
                        <div class="collapse " id="sidebarAnalytics">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/myApp/salaryChar/">薪资分析</a>
                                </li><!--end nav-item-->
                                <li class="nav-item">
                                    <a href="/myApp/educationChar/" class="nav-link ">经验学历分析</a>
                                </li><!--end nav-item-->
                                <li class="nav-item">
                                    <a href="/myApp/industryChar/" class="nav-link ">行业分析</a>
                                </li><!--end nav-item-->
                                <li class="nav-item">
                                    <a href="/myApp/cityChar/" class="nav-link ">城市分析</a>
                                </li><!--end nav-item-->
                            </ul><!--end nav-->
                        </div><!--end sidebarAnalytics-->
                    </li><!--end nav-item-->

                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarCrypto" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarCrypto">
                            <i class="ti ti-forms menu-icon"></i>
                            <span>数据表格</span>
                        </a>
                        <div class="collapse " id="sidebarCrypto">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/myApp/tableData/">工作职位数据</a>
                                </li><!--end nav-item-->

                            </ul><!--end nav-->
                        </div><!--end sidebarCrypto-->
                    </li><!--end nav-item-->

                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarProjectsA" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarProjects">
                            <i class="ti ti-user menu-icon"></i>
                            <span>个人信息</span>
                        </a>
                        <div class="collapse " id="sidebarProjectsA">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/myApp/changeInfo/">信息管理</a>
                                </li><!--end nav-item-->
                                <li class="nav-item">
                                    <a class="nav-link" href="/myApp/collectData/">收藏数据</a>
                                </li><!--end nav-item-->
                            </ul><!--end nav-->
                        </div><!--end sidebarProjects-->
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarProjectsB" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarProjects">
                            <i class="ti ti-cloud menu-icon"></i>
                            <span>数据词云图</span>
                        </a>
                        <div class="collapse " id="sidebarProjectsB">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/myApp/titleCloud/">工作词云图</a>
                                </li><!--end nav-item-->
                                <li class="nav-item">
                                    <a class="nav-link" href="/myApp/tagCloud/">工作标签词云图</a>
                                </li><!--end nav-item-->
                            </ul><!--end nav-->
                        </div><!--end sidebarProjects-->
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarProjectsC" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarProjects">
                            <i class="ti ti-star menu-icon"></i>
                            <span>职位推荐</span>
                        </a>
                        <div class="collapse " id="sidebarProjectsC">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/myApp/recommendPage/">推荐</a>
                                </li><!--end nav-item-->

                            </ul><!--end nav-->
                        </div><!--end sidebarProjects-->
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#sidebarProjectsE" data-bs-toggle="collapse" role="button"
                           aria-expanded="false" aria-controls="sidebarProjects">
                            <i class="ti ti-currency-dollar menu-icon"></i>
                            <span>薪资预测</span>
                        </a>
                        <div class="collapse " id="sidebarProjectsE">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/myApp/predict/">预测</a>
                                </li><!--end nav-item-->

                            </ul><!--end nav-->
                        </div><!--end sidebarProjects-->
                    </li><!--end nav-item-->

                </ul>
                <ul class="navbar-nav tab-pane" id="Extra" role="tabpanel">
                    <li>
                        <div class="update-msg text-center position-relative">
                            <button type="button" class="btn-close position-absolute end-0 me-2"
                                    aria-label="Close"></button>
                            <img src="/static/static/picture/speaker-light.png" alt="" class="" height="110">
                            <h5 class="mt-0">更多信息</h5>
                            <p class="mb-3">请访问网站</p>
                            <a href="https://www.lagou.com/wn/" class="btn btn-outline-warning btn-sm">访问</a>
                        </div>
                    </li>
                </ul><!--end navbar-nav--->
            </div><!--end sidebarCollapse-->
        </div>
    </div>
</div>
<!-- end left-sidenav-->
<!-- end leftbar-menu-->

<!-- Top Bar Start -->
<!-- Top Bar Start -->
<div class="topbar">
    <!-- Navbar -->
    <nav class="navbar-custom" id="navbar-custom">
        <ul class="list-unstyled topbar-nav float-end mb-0">
            {#                    <li class="dropdown">#}
            {#                        <a class="nav-link dropdown-toggle arrow-none nav-icon" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">#}
            {#                        <img src="/static/static/picture/us_flag.jpg" alt="" class="thumb-xxs rounded">#}
            {#                    </a>#}
            {#                        <div class="dropdown-menu">#}
            {#                            <a class="dropdown-item" href="#"><img src="/static/static/picture/us_flag.jpg" alt="" height="15" class="me-2">English</a>#}
            {#                            <a class="dropdown-item" href="#"><img src="/static/static/picture/spain_flag.jpg" alt="" height="15" class="me-2">Spanish</a>#}
            {#                            <a class="dropdown-item" href="#"><img src="/static/static/picture/germany_flag.jpg" alt="" height="15" class="me-2">German</a>#}
            {#                            <a class="dropdown-item" href="#"><img src="/static/static/picture/french_flag.jpg" alt="" height="15" class="me-2">French</a>#}
            {#                        </div>#}
            {#                    </li><!--end topbar-language-->#}
            {#            #}
            {#                    <li class="dropdown notification-list">#}
            {#                        <a class="nav-link dropdown-toggle arrow-none nav-icon" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">#}
            {#                            <i class="ti ti-mail"></i>#}
            {#                        </a>#}
            {#                        <div class="dropdown-menu dropdown-menu-end dropdown-lg pt-0">#}
            {#                #}
            {#                            <h6 class="dropdown-item-text font-15 m-0 py-3 border-bottom d-flex justify-content-between align-items-center">#}
            {#                                Emails <span class="badge bg-soft-primary badge-pill">3</span>#}
            {#                            </h6> #}
            {#                            <div class="notification-menu" data-simplebar="">#}
            {#                                <!-- item-->#}
            {#                                <a href="#" class="dropdown-item py-3">#}
            {#                                    <small class="float-end text-muted ps-2">2 min ago</small>#}
            {#                                    <div class="media">#}
            {#                                        <div class="avatar-md bg-soft-primary">#}
            {#                                            <img src="/static/static/picture/user-1.jpg" alt="" class="thumb-sm rounded-circle">#}
            {#                                        </div>#}
            {#                                        <div class="media-body align-self-center ms-2 text-truncate">#}
            {#                                            <h6 class="my-0 fw-normal text-dark">Your order is placed</h6>#}
            {#                                            <small class="text-muted mb-0">Dummy text of the printing and industry.</small>#}
            {#                                        </div><!--end media-body-->#}
            {#                                    </div><!--end media-->#}
            {#                                </a><!--end-item-->#}
            {#                                <!-- item-->#}
            {#                                <a href="#" class="dropdown-item py-3">#}
            {#                                    <small class="float-end text-muted ps-2">10 min ago</small>#}
            {#                                    <div class="media">#}
            {#                                        <div class="avatar-md bg-soft-primary">#}
            {#                                            <img src="/static/static/picture/user-4.jpg" alt="" class="thumb-sm rounded-circle">#}
            {#                                        </div>#}
            {#                                        <div class="media-body align-self-center ms-2 text-truncate">#}
            {#                                            <h6 class="my-0 fw-normal text-dark">Meeting with designers</h6>#}
            {#                                            <small class="text-muted mb-0">It is a long established fact that a reader.</small>#}
            {#                                        </div><!--end media-body-->#}
            {#                                    </div><!--end media-->#}
            {#                                </a><!--end-item-->#}
            {#                                <!-- item-->#}
            {#                                <a href="#" class="dropdown-item py-3">#}
            {#                                    <small class="float-end text-muted ps-2">40 min ago</small>#}
            {#                                    <div class="media">#}
            {#                                        <div class="avatar-md bg-soft-primary">#}
            {#                                            <img src="/static/static/picture/user-2.jpg" alt="" class="thumb-sm rounded-circle">#}
            {#                                        </div>#}
            {#                                        <div class="media-body align-self-center ms-2 text-truncate">#}
            {#                                            <h6 class="my-0 fw-normal text-dark">UX 3 Task complete.</h6>#}
            {#                                            <small class="text-muted mb-0">Dummy text of the printing.</small>#}
            {#                                        </div><!--end media-body-->#}
            {#                                    </div><!--end media-->#}
            {#                                </a><!--end-item-->#}
            {#                                <!-- item-->#}
            {#                                <a href="#" class="dropdown-item py-3">#}
            {#                                    <small class="float-end text-muted ps-2">1 hr ago</small>#}
            {#                                    <div class="media">#}
            {#                                        <div class="avatar-md bg-soft-primary">#}
            {#                                            <img src="/static/static/picture/user-5.jpg" alt="" class="thumb-sm rounded-circle">#}
            {#                                        </div>#}
            {#                                        <div class="media-body align-self-center ms-2 text-truncate">#}
            {#                                            <h6 class="my-0 fw-normal text-dark">Your order is placed</h6>#}
            {#                                            <small class="text-muted mb-0">It is a long established fact that a reader.</small>#}
            {#                                        </div><!--end media-body-->#}
            {#                                    </div><!--end media-->#}
            {#                                </a><!--end-item-->#}
            {#                                <!-- item-->#}
            {#                                <a href="#" class="dropdown-item py-3">#}
            {#                                    <small class="float-end text-muted ps-2">2 hrs ago</small>#}
            {#                                    <div class="media">#}
            {#                                        <div class="avatar-md bg-soft-primary">#}
            {#                                            <img src="/static/static/picture/user-3.jpg" alt="" class="thumb-sm rounded-circle">#}
            {#                                        </div>#}
            {#                                        <div class="media-body align-self-center ms-2 text-truncate">#}
            {#                                            <h6 class="my-0 fw-normal text-dark">Payment Successfull</h6>#}
            {#                                            <small class="text-muted mb-0">Dummy text of the printing.</small>#}
            {#                                        </div><!--end media-body-->#}
            {#                                    </div><!--end media-->#}
            {#                                </a><!--end-item-->#}
            {#                            </div>#}
            {#                            <!-- All-->#}
            {#                            <a href="javascript:void(0);" class="dropdown-item text-center text-primary">#}
            {#                                View all <i class="fi-arrow-right"></i>#}
            {#                            </a>#}
            {#                        </div>#}
            {#                    </li>#}
            {##}
            {#                    <li class="dropdown notification-list">#}
            {#                        <a class="nav-link dropdown-toggle arrow-none nav-icon" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">#}
            {#                            <i class="ti ti-bell"></i>#}
            {#                            <span class="alert-badge"></span>#}
            {#                        </a>#}
            {#                        <div class="dropdown-menu dropdown-menu-end dropdown-lg pt-0">#}
            {#                #}
            {#                            <h6 class="dropdown-item-text font-15 m-0 py-3 border-bottom d-flex justify-content-between align-items-center">#}
            {#                                Notifications <span class="badge bg-soft-primary badge-pill">2</span>#}
            {#                            </h6> #}
            {#                            <div class="notification-menu" data-simplebar="">#}
            {#                                <!-- item-->#}
            {#                                <a href="#" class="dropdown-item py-3">#}
            {#                                    <small class="float-end text-muted ps-2">2 min ago</small>#}
            {#                                    <div class="media">#}
            {#                                        <div class="avatar-md bg-soft-primary">#}
            {#                                            <i class="ti ti-chart-arcs"></i>#}
            {#                                        </div>#}
            {#                                        <div class="media-body align-self-center ms-2 text-truncate">#}
            {#                                            <h6 class="my-0 fw-normal text-dark">Your order is placed</h6>#}
            {#                                            <small class="text-muted mb-0">Dummy text of the printing and industry.</small>#}
            {#                                        </div><!--end media-body-->#}
            {#                                    </div><!--end media-->#}
            {#                                </a><!--end-item-->#}
            {#                                <!-- item-->#}
            {#                                <a href="#" class="dropdown-item py-3">#}
            {#                                    <small class="float-end text-muted ps-2">10 min ago</small>#}
            {#                                    <div class="media">#}
            {#                                        <div class="avatar-md bg-soft-primary">#}
            {#                                            <i class="ti ti-device-computer-camera"></i>#}
            {#                                        </div>#}
            {#                                        <div class="media-body align-self-center ms-2 text-truncate">#}
            {#                                            <h6 class="my-0 fw-normal text-dark">Meeting with designers</h6>#}
            {#                                            <small class="text-muted mb-0">It is a long established fact that a reader.</small>#}
            {#                                        </div><!--end media-body-->#}
            {#                                    </div><!--end media-->#}
            {#                                </a><!--end-item-->#}
            {#                                <!-- item-->#}
            {#                                <a href="#" class="dropdown-item py-3">#}
            {#                                    <small class="float-end text-muted ps-2">40 min ago</small>#}
            {#                                    <div class="media">#}
            {#                                        <div class="avatar-md bg-soft-primary">                                                    #}
            {#                                            <i class="ti ti-diamond"></i>#}
            {#                                        </div>#}
            {#                                        <div class="media-body align-self-center ms-2 text-truncate">#}
            {#                                            <h6 class="my-0 fw-normal text-dark">UX 3 Task complete.</h6>#}
            {#                                            <small class="text-muted mb-0">Dummy text of the printing.</small>#}
            {#                                        </div><!--end media-body-->#}
            {#                                    </div><!--end media-->#}
            {#                                </a><!--end-item-->#}
            {#                                <!-- item-->#}
            {#                                <a href="#" class="dropdown-item py-3">#}
            {#                                    <small class="float-end text-muted ps-2">1 hr ago</small>#}
            {#                                    <div class="media">#}
            {#                                        <div class="avatar-md bg-soft-primary">#}
            {#                                            <i class="ti ti-drone"></i>#}
            {#                                        </div>#}
            {#                                        <div class="media-body align-self-center ms-2 text-truncate">#}
            {#                                            <h6 class="my-0 fw-normal text-dark">Your order is placed</h6>#}
            {#                                            <small class="text-muted mb-0">It is a long established fact that a reader.</small>#}
            {#                                        </div><!--end media-body-->#}
            {#                                    </div><!--end media-->#}
            {#                                </a><!--end-item-->#}
            {#                                <!-- item-->#}
            {#                                <a href="#" class="dropdown-item py-3">#}
            {#                                    <small class="float-end text-muted ps-2">2 hrs ago</small>#}
            {#                                    <div class="media">#}
            {#                                        <div class="avatar-md bg-soft-primary">#}
            {#                                            <i class="ti ti-users"></i>#}
            {#                                        </div>#}
            {#                                        <div class="media-body align-self-center ms-2 text-truncate">#}
            {#                                            <h6 class="my-0 fw-normal text-dark">Payment Successfull</h6>#}
            {#                                            <small class="text-muted mb-0">Dummy text of the printing.</small>#}
            {#                                        </div><!--end media-body-->#}
            {#                                    </div><!--end media-->#}
            {#                                </a><!--end-item-->#}
            {#                            </div>#}
            {#                            <!-- All-->#}
            {#                            <a href="javascript:void(0);" class="dropdown-item text-center text-primary">#}
            {#                                View all <i class="fi-arrow-right"></i>#}
            {#                            </a>#}
            {#                        </div>#}
            {#                    </li>#}

            <li class="dropdown">
                <a class="nav-link dropdown-toggle nav-user" data-bs-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <div class="d-flex align-items-center">
                        <img src="/static/static/picture/user-4.jpg" alt="profile-user"
                             class="rounded-circle me-2 thumb-sm">
                        <div>
                            <small class="d-none d-md-block font-11">{{ userInfo.username }}</small>
                            <span class="d-none d-md-block fw-semibold font-12">用户 <i
                                    class="mdi mdi-chevron-down"></i></span>
                        </div>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item" href="#"><i class="ti ti-user font-16 me-1 align-text-bottom"></i> 个人信息</a>
                    <a class="dropdown-item" href="/myApp/home"><i
                            class="ti ti-chart-area-line font-16 me-1 align-text-bottom"></i> 可视化大屏</a>
                    <div class="dropdown-divider mb-0"></div>
                    <a class="dropdown-item" href="/myApp/logOut"><i
                            class="ti ti-power font-16 me-1 align-text-bottom"></i> 退出登录</a>
                </div>
            </li><!--end topbar-profile-->
            {#                    <li class="notification-list">#}
            {#                        <a class="nav-link arrow-none nav-icon offcanvas-btn" href="#" data-bs-toggle="offcanvas" data-bs-target="#Appearance" role="button" aria-controls="Rightbar">#}
            {#                            <i class="ti ti-settings ti-spin"></i>#}
            {#                        </a>#}
            {#                    </li>   #}
        </ul><!--end topbar-nav-->

        <ul class="list-unstyled topbar-nav mb-0">
            <li>
                <button class="nav-link button-menu-mobile nav-icon" id="togglemenu">
                    <i class="ti ti-menu-2"></i>
                </button>
            </li>
            {#                    <li class="hide-phone app-search">#}
            {#                        <form role="search" action="#" method="get">#}
            {#                            <input type="search" name="search" class="form-control top-search mb-0" placeholder="Type text...">#}
            {#                            <button type="submit"><i class="ti ti-search"></i></button>#}
            {#                        </form>#}
            {#                    </li>                       #}
        </ul>
    </nav>
    <!-- end navbar-->
</div>
<!-- Top Bar End -->
<!-- Top Bar End -->

<div class="page-wrapper">

    <!-- Page Content-->
    <div class="page-content-tab">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">系统</a>
                                </li><!--end nav-item-->
                                <li class="breadcrumb-item"><a href="#">数据可视化</a>
                                </li><!--end nav-item-->
                                <li class="breadcrumb-item active">经验学历分析</li>
                            </ol>
                        </div>
                        <h4 class="page-title">经验学历分析</h4>
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div>
            <!-- end page title end breadcrumb -->


            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="card-title">工作经验薪资人数图</h4>
                                </div><!--end col-->
                            </div>  <!--end row-->
                        </div><!--end card-header-->
                        <div class="card-body">
                            <div id="mainA" style="width: 100%;height: 550px;"></div>
                        </div><!--end card-body-->
                    </div><!--end card-->

                </div> <!--end col-->

<div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h4 class="card-title">学历招聘人数图</h4>
                                </div><!--end col-->
                            </div>  <!--end row-->
                        </div><!--end card-header-->
                        <div class="card-body">
                            <div id="mainB" style="width: 100%;height: 550px;"></div>
                        </div><!--end card-body-->
                    </div><!--end card-->

                </div> <!--end col-->
            </div><!--end row-->

        </div><!-- container -->

        <!--Start Rightbar-->
        <!--Start Rightbar/offcanvas-->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="Appearance" aria-labelledby="AppearanceLabel">
            <div class="offcanvas-header border-bottom">
                <h5 class="m-0 font-14" id="AppearanceLabel">Appearance</h5>
                <button type="button" class="btn-close text-reset p-0 m-0 align-self-center" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <h6>Account Settings</h6>
                <div class="p-2 text-start mt-3">
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="settings-switch1">
                        <label class="form-check-label" for="settings-switch1">Auto updates</label>
                    </div><!--end form-switch-->
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="settings-switch2" checked="">
                        <label class="form-check-label" for="settings-switch2">Location Permission</label>
                    </div><!--end form-switch-->
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="settings-switch3">
                        <label class="form-check-label" for="settings-switch3">Show offline Contacts</label>
                    </div><!--end form-switch-->
                </div><!--end /div-->
                <h6>General Settings</h6>
                <div class="p-2 text-start mt-3">
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="settings-switch4">
                        <label class="form-check-label" for="settings-switch4">Show me Online</label>
                    </div><!--end form-switch-->
                    <div class="form-check form-switch mb-2">
                        <input class="form-check-input" type="checkbox" id="settings-switch5" checked="">
                        <label class="form-check-label" for="settings-switch5">Status visible to all</label>
                    </div><!--end form-switch-->
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="settings-switch6">
                        <label class="form-check-label" for="settings-switch6">Notifications Popup</label>
                    </div><!--end form-switch-->
                </div><!--end /div-->
            </div><!--end offcanvas-body-->
        </div>
        <!--end Rightbar/offcanvas-->
        <!--end Rightbar-->

        <!--Start Footer-->
        <!-- Footer Start -->
        {#                <footer class="footer text-center text-sm-start">Copyright &copy; 2022.Company name All rights reserved.<a target="_blank" href="https://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></footer>#}
        <!-- end Footer -->
        <!--end footer-->
    </div>
    <!-- end page content -->
</div>
<!-- end page-wrapper -->

<!-- Javascript  -->

<script src="/static/static/js/apexcharts.min.js"></script>
<script src="/static/static/js/analytics-index.init.js"></script>


<!-- App js -->
<script src="/static/static/js/app.js"></script>

</body>
<script src="/static/static/js/echarts.js"></script>
<script>
        var chartDom = document.getElementById('mainB');
    var myChart = echarts.init(chartDom);
    var option;

  let dashedPic = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAM8AAAAOBAMAAAB6G1V9AAAAD1BMVEX////Kysrk5OTj4+TJycoJ0iFPAAAAG0lEQVQ4y2MYBaNgGAMTQQVFOiABhlEwCugOAMqzCykGOeENAAAAAElFTkSuQmCC';
let color = ['#FF8700', '#ffc300', '#00e473', '#009DFF'];
let chartData = {{educationCountData | safe }};
let arrName = [];
let arrValue = [];
let sum = 0;
let pieSeries = [],
    lineYAxis = [];

// 数据处理
chartData.forEach((v, i) => {
    arrName.push(v.name);
    arrValue.push(v.value);
    sum = sum + v.value;
})

// 图表option整理
chartData.forEach((v, i) => {
    pieSeries.push({
        name: '学历',
        type: 'pie',
        clockWise: false,
        hoverAnimation: false,
        radius: [65 - i * 15 + '%', 57 - i * 15 + '%'],
        center: ["30%", "50%"],
        label: {
            show: false
        },
        data: [{
            value: v.value,
            name: v.name
        }, {
            value: sum - v.value,
            name: '',
            itemStyle: {
                color: "rgba(0,0,0,0)"
            }
        }]
    });
    pieSeries.push({
        name: '',
        type: 'pie',
        silent: true,
        z: 1,
        clockWise: false, //顺时加载
        hoverAnimation: false, //鼠标移入变大
        radius: [65 - i * 15 + '%',57 - i * 15 + '%'],
        center: ["30%", "50%"],
        label: {
            show: false
        },
        data: [{
            value: 7.5,
            itemStyle: {
                color: "#E3F0FF"
            }
        }, {
            value: 2.5,
            name: '',
            itemStyle: {
                color: "rgba(0,0,0,0)"
            }
        }]
    });
    v.percent = (v.value / sum * 100).toFixed(1) + "%";
    lineYAxis.push({
        value: i,
        textStyle: {
            rich: {
                circle: {
                    color: color[i],
                    padding: [0, 5]
                }
            }
        }
    });
})

option = {
    backgroundColor: '#fff',
    color: color,

    grid: {
        top: '15%',
        bottom: '54%',
        left: "35%",
        containLabel: false
    },
      tooltip: {
    trigger: 'axis'
  },
    yAxis: [{
        type: 'category',
        inverse: true,
        axisLine: {
            show: false
        },
        axisTick: {
            show: false
        },
        axisLabel: {
            formatter: function(params) {
                let item = chartData[params];
                console.log(item)
                return '{line|}{circle|●}{name|'+ item.name +'}{bd||}{percent|'+item.percent+'}{value|'+ item.value+'}{unit|人}'
            },
            interval: 0,
            inside: true,
            textStyle: {
                color: "#333",
                fontSize: 14,
                rich: {
                    line: {
                        width: 170,
                        height: 10,
                        backgroundColor: {image: dashedPic}
                    },
                    name: {
                        color: '#666',
                        fontSize: 14,
                    },
                    bd: {
                        color: '#ccc',
                        padding: [0, 5],
                        fontSize: 14,
                    },
                    percent:{
                        color: '#333',
                        fontSize: 14,
                    },
                    value: {
                        color: '#333',
                        fontSize: 16,
                        fontWeight: 500,
                        padding: [0, 0, 0, 20]
                    },
                    unit: {
                        fontSize: 14
                    }
                }
            },
            show: true
        },
        data: lineYAxis
    }],
    xAxis: [{
        show: false
    }],
    series: pieSeries
};

    option && myChart.setOption(option);
</script>
<script>
    var chartDom = document.getElementById('mainA');
    var myChart = echarts.init(chartDom);
    var option;

    option = {
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'line'
          },
          backgroundColor: 'rgba(9, 24, 48, 0.5)',
          borderColor: 'rgba(75, 253, 238, 0.4)',
          textStyle: {
            color: '#CFE3FC',
          },
        },
        legend: [
          {
            data: ['平均薪资(元)'],
            top: '0',
            x: '0',
            itemWidth: 8,
            borderColor: 'rgba(255, 192, 0, 1)',
            textStyle: {
              color: 'rgba(0,0,0,.4)',
              fontSize: 12
            },
            icon:'circle'
          },
          {
            data: ['人数'],
           top: '0',
            x: '15%',
            itemWidth: 8,
            textStyle: {
              color: 'rgba(0,0,0,.4)',
              fontSize: 12
            },
            icon:'circle'
          },
          {
            data: ['x'],
            top: '0',
            x: '30%',
            itemStyle: {
              borderWidth: 2
            },
            textStyle: {
              color: 'rgba(0,0,0,.4)',
              fontSize: 12
            },
            itemWidth: 15,
            itemHeight: 8,
          }
        ],
        grid: {
          left: '20px',
          right: '20px',
          top: '70px',
          bottom: '30px',
          containLabel: true
        },
        toolbox: {
          show: true,
          orient: 'vertical',
          x: 'right',
          y: 'center'
        },
        xAxis: [
          {
            type: 'category',
            boundaryGap: true,
            axisTick: {
              show: false
            },
            data: {{ averageExperienceX | safe }},
            axisLine: {
              show:false,
              lineStyle: {
                color: 'rgba(0, 0, 0, 0.2)'
              }
            },
            axisLabel: {
              interval: 0,
              color: 'rgba(0, 0, 0, 1)',
              fontSize: 14
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            axisTick: {
              show: false
            },
            axisLine: {
              show: true,
              lineStyle: {
                color: 'rgba(0, 0, 0, 0.2)'
              },
              symbol: ['none', 'arrow'],
              symbolSize: [5, 12],
              symbolOffset: [0, 10]
            },
            {#max: 100,#}
            axisLabel: {
              interval: 0,
              color: 'rgba(54,58,68,0.70)',
              fontSize: 14
            },
            splitLine: {
              show: true,
              lineStyle: {
                color: 'rgba(0, 0, 0, 0.2)',
                width: 1,
                type: 'solid'
              }
            }
          },
          {
            type: 'value',
            axisTick: {
              show: false
            },

            axisLine: {
              show: false,
              lineStyle: {
                color: 'rgba(207, 227, 252, 1)'
              },
              symbol: ['none', 'arrow'],
              symbolSize: [5, 12],
              symbolOffset: [0, 10]
            },
            {#min: 0,#}
            {#max: 100,#}
            axisLabel: {
              interval: 0,
              color: 'rgba(54,58,68,0.70)',
              fontSize: 14,
              formatter: '{value} '
            },
            splitLine: {
              show: false,
              lineStyle: {
                color: 'rgba(39, 57, 75, 1)',
                width: 1,
                type: 'solid'
              }
            }
          }
        ],
        series: [
          {
            name: '人数',
            yAxisIndex: 1,
            type: 'line',
            smooth: true,
            showSymbol:false,
            areaStyle: {
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                {
                  offset: 0,
                  color: 'rgba(32,128,247,.4)'
                },
                {
                  offset: 1,
                  color: 'rgba(32,128,247,0)'
                }
              ])
            },
            data: {{ averageExperienceY2 | safe }},
            symbol: 'circle',
            symbolSize: 8,
            itemStyle: {
              normal: {
                color: '#2080F7',
                borderColor: '#2080F7',
                lineStyle: {
                  color: '#2080F7'
                }
              }
            },

          },
          {
            z:2,
            type: 'bar',

            yAxisIndex: 0,
            name: '平均薪资(元)',
            itemStyle: {
              normal: {
                 color: '#2080F7'
              }
            },
            barWidth: 24,
            data: {{ averageExperienceY1 | safe }}
          },
          {#{#}
          {#  z:1,#}
          {#  type: 'bar',#}
          {#  barGap: '-100%',#}
          {#  yAxisIndex: 0,#}
          {#  name: '办结量(个)',#}
          {#  itemStyle: {#}
          {#    normal: {#}
          {#      color: '#B2D4FF'#}
          {#    }#}
          {#  },#}
          {#  barWidth: 24,#}
          {#  data: {{ averageExperienceY2 | safe }}#}
          {#}#}
        ]
  }

    option && myChart.setOption(option);
</script>
<!--end body-->
</html>